/****************************************TAG SELECTORS****************************************/

h1
{
  color: #00FFAB;
}
body
{
  background-image: url(doodle.png);
}
p
{
  color: #04009A;
}
img:hover
{
  background-image: url(wth-foxy.gif);
}
/****************************************CLASS SELECTORS****************************************/
.good
{
  background-color: #06FF00;
  background-image: none
}

.good:hover
{
  background-color: #28DF99;
  background-image: none
}

.bad
{
  background-color: #F90716;
  background-image: none
}
.bad:hover
{
background-color: #FF4848;
background-image: none
}
/****************************************ID SELECTORS****************************************/
#heading
{
  color: blue;
}
